* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
}
body {
  background-color: #222;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* height: 100vh; */
}
.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  padding: 20px 10px;
  margin: 60px auto 0;
  border-radius: 20px;
  text-align: center;
}

.searchForm {
  padding: 10px;
}

.search {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 15px;
}
.submitBtn {
  padding: 6px 8px;
  border: none;
  border-radius: 7px;
}
.cityInfo {
  padding: 20px;
  opacity: 0;
}

#weatherPic {
  width: 140px;
  height: 140px;
  margin: 10px 0;
}

.temperature {
  font-size: 50px;
  margin: 10px 0;
}

.city {
  font-size: 30px;
}
.windAndHumidity {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.humidity,
.wind {
  display: flex;
  align-items: center;
}

.humAndWindImg {
  width: 35px;
  height: 35px;
  margin: 0 10px;
}

.inside p,
.temperature,
.city {
  color: #fff;
}

.inside p {
  padding: 3px 0;
  text-align: start;
}

#humidityPerc,
#windPerc {
  font-size: 20px;
  /* margin: 5px 0; */
  /* padding: 5px 0; */
}

@media only screen and (min-width: 800px) {
  .card {
    margin: 120px auto 0;
  }

  .submitBtn {
    font-size: 16px;
  }

  #weatherPic {
    width: 160px;
    height: 160px;
  }

  .temperature {
    font-size: 60px;
  }

  .city {
    font-size: 40px;
  }

  .windAndHumidity {
    justify-content: space-around;
  }
  #humidityPerc,
  #windPerc {
    font-size: 30px;
  }
}
